<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCB9qTi3cKhTUaerLl5Yv1vHLsoxb6te1k</string>
	<key>GCM_SENDER_ID</key>
	<string>698016856565</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.joflex</string>
	<key>PROJECT_ID</key>
	<string>joflex-bf5f3</string>
	<key>STORAGE_BUCKET</key>
	<string>joflex-bf5f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:698016856565:ios:cb767c68096dc58a0188bc</string>
</dict>
</plist>